@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Control Panel */
.app-controlpanel {
    height: 100%;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    right: 0;
    top: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

    /* Position the content inside the overlay */
    .app-controlpanel .card-body {
        position: relative;
        width: 100%; /* 100% width */
    }

    /* Pad the navigation links */
    .app-controlpanel .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

    .app-controlpanel .card-body .control-label {
        color: white;
    }

/* Admin Modal */
.app-admin-modal .modal {
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    display: block;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgba(0,0,0,0.3); /* Dim background */
}

.app-admin-modal .modal-dialog {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    max-width: none; /* Override default of 500px */
}

.app-admin-modal .modal-content {
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.app-pane-admin-border {
    width: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: gray;
}

.app-pane-admin-title {
    width: 100%;
    text-align: center;
    color: gray;
}

.app-progress-indicator {
    background: rgba(0,0,0,0.2) url('../loading.gif') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Sit on top */
}

.app-rule {
    width: 100%;
    color: gray;
    height: 1px;
    background-color: gray;
}
