@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Control Panel */
.app-controlpanel {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.app-controlpanel-content {
    position: relative;
    top: 5%; /* 5% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* Position the close button (top right corner) */
.app-controlpanel .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .app-controlpanel a {
        font-size: 20px
    }

    .app-controlpanel-close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* Admin Modal */
.app-admin-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.app-admin-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.app-admin-modal-close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

    .app-admin-modal-close:hover,
    .app-admin-modal-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Action Menu */
.app-actions-toggle {
    background-color: transparent;
    border-color: #fff;
    border-style: hidden;
    border-top: none;
    border-right: none;
    border-left: none;
}

.app-pane-admin-border {
    width: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: gray;
}

.app-pane-admin-title {
    width: 100%;
    text-align: center;
    color: gray;
}

.app-progress-indicator {
    background: rgba(0,0,0,0.2) url('../loading.gif') no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Sit on top */
}