@using Oqtane.Skins
@using Oqtane.Client.Skins.Controls
@using Oqtane.Client.Shared
@inherits SkinBase

<div class="sidebar">
    <div align="center"><Logo /></div>
    <Menu />
</div>

<div class="main">
    <div class="top-row px-4">
        <h1>@PageState.Page.Name - Skin1</h1> <div class="ml-md-auto"><Profile /> <Login /> <ControlPanel /></div>
    </div>
    <div class="container">
        <div class="row px-4">
            <div class="col-sm">
                <Pane Name="Left" />
            </div>
            <div class="col-sm">
                <Pane Name="Right" />
            </div>
        </div>
        <div class="row px-4">
            <Pane Name="Admin" />
        </div>
    </div>
</div>

@functions {
    public override string Name { get { return "Skin1"; } }
    public override string Panes { get { return "Left;Right"; } }
}