<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location>
        <system.webServer>
            <modules xdt:Transform="InsertIfMissing">
                <remove name="WebDAVModule" xdt:Transform="InsertIfMissing"/>
            </modules>
            <handlers xdt:Transform="InsertIfMissing">
                <remove name="WebDAV" xdt:Transform="InsertIfMissing" />
            </handlers>
        </system.webServer>
    </location>
</configuration>
