<ModuleMessage Message="@Message" Type="MessageType.Error" />
<CascadingValue Value="this">
    <ModuleMessage @ref="ModuleMessage" />
    @DynamicComponent
</CascadingValue>
@if (Progressindicator)
{
    <div class="app-progress-indicator"></div>
}
