@using Oqtane.Themes
@using Oqtane.Client.Themes.Controls
@using Oqtane.Client.Shared
@inherits ContainerBase
<div class="container1">
    <div class="row">
        <ModuleActions /><h2><ModuleTitle /></h2>
        <hr style="width: 100%; color: gray; height: 1px; background-color:gray;" />
    </div>
    <div class="row">
        <div class="container1Content">
            <ModuleInstance />
        </div>
    </div>
</div>
