@using Microsoft.AspNetCore.Components.Web
@using Oqtane.Services
@using Oqtane.Models
@using Oqtane.Modules
@using Oqtane.Modules.Controls
@namespace Oqtane.Modules.Admin.Users
@inherits ModuleBase

@inject IUserService UserService

@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var User in Users)
            {
                <tr>
                    <td>@User.Username</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Admin; } }

    List<User> Users;

    protected override async Task OnInitializedAsync()
    {
        Users = await UserService.GetUsersAsync(PageState.Site.SiteId);
    }
}