/* CSS overrides */
body {
    padding-top: 11rem;
}

.btn-secondary {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.btn {
    padding: 0.75rem 0.75rem;
}

.table td, .table th {
    padding: 1.0rem;
}