@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase       

@if (BreadCrumbPages.Any())
{
    <span class="app-breadcrumbs">
        <ol class="breadcrumb">
            @foreach (var p in BreadCrumbPages)
            {
                if (p.PageId == PageState.Page.PageId)
                {
                    <li class="breadcrumb-item active">
                        <a href="@NavigateUrl(p.Path)">@p.Name</a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@NavigateUrl(p.Path)">@p.Name</a>
                    </li>
                }
            }
        </ol>
    </span>
}