@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase

@if (!string.IsNullOrWhiteSpace(Value))
{
    <span class="@Value pr-1" aria-hidden="true"></span>
}

@code {
    [Parameter()]
    public string Value { get; set; }
}