@namespace Oqtane.Themes.Controls
@inherits LoginBase
@inject IStringLocalizer<Login> Localizer 

<span class="app-login">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <button type="button" class="btn btn-primary" @onclick="LogoutUser">@Localizer["Logout"]</button>
        </Authorized>
        <NotAuthorized>
            <button type="button" class="btn btn-primary" @onclick="LoginUser">@Localizer["Login"]</button>
        </NotAuthorized>
    </AuthorizeView>
</span>