@using Oqtane.Themes
@using Oqtane.Shared
@using Microsoft.JSInterop
@inherits ThemeObjectBase
@inject IUriHelper UriHelper
@inject IJSRuntime jsRuntime

<button type="button" class="btn btn-primary" onclick="@Click">@name</button>

@functions {
    string name = "";

    protected override async Task OnInitAsync()
    {
        var interop = new Interop(jsRuntime);
        string user = await interop.GetCookie("user");

        if (user == "")
        {
            name = "Login";
        }
        else
        {
            name = "Logout";
        }
    }

    private async Task Click()
    {
        if (name == "Login")
        {
            UriHelper.NavigateTo(PageState.Alias + "login");
        }
        else
        {
            var interop = new Interop(jsRuntime);
            await interop.SetCookie("user", "", 7);
            UriHelper.NavigateTo(PageState.Alias, true);
        }
    }
}
