@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase
@inject NavigationManager NavigationManager

@((MarkupString)logo)

@code {
    string logo = "";

    protected override void OnParametersSet()
    {
        if (PageState.Site.LogoFileId != null)
        {
            var uri = new Uri(NavigationManager.Uri);
            logo = "<a href=\"" + uri.Scheme + "://" + uri.Authority + "\"><img src=\"" + ContentUrl(PageState.Site.LogoFileId.Value) + "\" alt=\"" + PageState.Site.Name + "\"/></a>";
        }
    }
}