@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase
@inject NavigationManager NavigationManager

@if (PageState.Site.LogoFileId != null)
{
    <a href="@Href">
        <img class="img-fluid" src="@ContentUrl(PageState.Site.LogoFileId.Value)" alt="@PageState.Site.Name"/>
    </a>
}

@code {
    string Href
    {
        get
        {
            var uri = new Uri(NavigationManager.Uri);
            return $"{uri.Scheme}://{uri.Authority}";
        }
    }
}
