@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase

@((MarkupString)logo)

@code {
    string logo = "";

    protected override Task OnParametersSetAsync()
    {
        if (PageState.Site.Logo != "")
        {
            logo = "<a href=\"" + PageState.Alias.Url + "\"><img src=\"" + PageState.Alias.SiteRootUrl + PageState.Site.Logo + "\" alt=\"" + PageState.Site.Name + "\"/></a>";
        }
        return Task.CompletedTask;
    }
}