@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase
@inject NavigationManager NavigationManager

@((MarkupString)logo)

@code {
    string logo = "";

    protected override void OnParametersSet()
    {
        if (PageState.Site.Logo != "")
        {
            Uri uri = new Uri(NavigationManager.Uri);
            logo = "<a href=\"" + uri.Scheme + "://" + uri.Authority + "\"><img src=\"" + uri.Scheme + "://" + uri.Authority + "/" + PageState.Site.SiteRootPath + PageState.Site.Logo + "\" alt=\"" + PageState.Site.Name + "\"/></a>";
        }
    }
}