@using Oqtane.Themes
@inherits ThemeObjectBase

@((MarkupString)logo)

@functions {
    string logo = "";

    protected override void OnInit()
    {
        if (PageState.Site.Logo != "")
        {
            logo = "<a href=\"" + PageState.Alias.Url + "\"><img src=\"/Sites/" + PageState.Site.SiteId.ToString() + "/" + PageState.Site.Logo + "\" alt=\"" + PageState.Site.Name + "\"/></a>";
        }
    }
}