@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase

@((MarkupString)logo)

@code {
    string logo = "";

    protected override void OnParametersSet()
    {
        if (PageState.Site.Logo != "")
        {
            logo = "<a href=\"" + PageState.Alias.Url + "\"><img src=\"" + PageState.Alias.BaseUrl + "/" + PageState.Site.SiteRootPath + PageState.Site.Logo + "\" alt=\"" + PageState.Site.Name + "\"/></a>";
        }
    }
}