@namespace Oqtane.Themes.Controls
@inherits MenuBase

@if (MenuPages.Any())
{
    <span class="app-menu-toggler">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </span>
    <div class="app-menu">
        <div class="collapse navbar-collapse" id="Menu">
            <MenuItemsVertical ParentPage="null" Pages="MenuPages" />
        </div>
    </div>
}
