@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase
@inject IUserService UserService

@if (menu != "")
{
    @((MarkupString)menu)
}

@code {
    string menu = "";

    protected override void OnParametersSet()
    {
        int level = -1;
        int securitylevel = int.MaxValue;

        menu = "<ul class=\"nav flex-column\">\n";

        foreach (Page p in PageState.Pages.Where(item => item.IsNavigation && !item.IsDeleted))
        {
            if (UserSecurity.IsAuthorized(PageState.User, "View", p.Permissions) && p.Level <= securitylevel)
            {
                securitylevel = int.MaxValue;

                menu += "<li class=\"nav-item px-3\">";
                menu += "<a href=\"" + NavigateUrl(p.Path) + "\" class=\"nav-link\" style=\"padding-left: " + ((p.Level + 1) * 15).ToString() + "px !important;\">";
                if (p.HasChildren)
                {
                    menu += "<i class=\"oi oi-chevron-right\"></i>";
                }
                if (p.Icon != "")
                {
                    menu += "<span class=\"oi oi-" + p.Icon + "\" aria-hidden=\"true\"></span>";
                }
                menu += p.Name;
                menu += "</a>\n";
                menu += "</li>\n";

                level = p.Level;
            }
            else
            {
                if (securitylevel == int.MaxValue)
                {
                    securitylevel = p.Level;
                }
            }
        }
        menu += "</ul>";
    }
}
