@using Oqtane.Themes
@inherits ThemeObjectBase
@inject IUriHelper UriHelper

<AuthorizeView>
    <Authorizing>
        <text>...</text>
    </Authorizing>
    <Authorized>
        <button type="button" class="btn btn-primary" @onclick="@UpdateProfile">@context.User.Identity.Name</button>
    </Authorized>
    <NotAuthorized>
        <button type="button" class="btn btn-primary" @onclick="@RegisterUser">Register</button>
    </NotAuthorized>
</AuthorizeView>


@code {

    private void RegisterUser()
    {
        UriHelper.NavigateTo(NavigateUrl("register"));
    }

    private void UpdateProfile()
    {
        UriHelper.NavigateTo(NavigateUrl("profile"));
    }
}


