@namespace Oqtane.Themes.OqtaneTheme
@inherits ThemeBase
<link href="css/quill/quill1.3.6.bubble.css" rel="stylesheet"/>
<link href="css/quill/quill1.3.6.snow.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="css/app.css" rel="stylesheet"/>         
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
<link href="Themes/Oqtane.Themes.OqtaneTheme/Theme.css" rel="stylesheet"/>

<main role="main">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <Logo /><Menu Orientation="Horizontal" />
        <div class="controls ml-md-auto">
            <div class="controls-group"><UserProfile /> <Login /> <ControlPanel /></div>
        </div>
    </nav>
    <div class="content container">
        <PaneLayout />
        <div class="row px-4">
            <Pane Name="Admin" />
        </div>
    </div>
</main>

@code {
    public override string Panes => string.Empty;

    protected override async Task OnParametersSetAsync()
    {
    // go to https://www.bootstrapcdn.com/bootswatch/ and take your favorite theme
    //<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM" crossorigin="anonymous">
    //    await LoadBootstrapTheme("https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cyborg/bootstrap.min.css","sha384-l7xaoY0cJM4h9xh1RfazbgJVUZvdtyLWPueWNtLAphf/UbBgOVzqbOTogxPwYLHM");
    //    await IncludeCSS("Theme.css");
    }
}
