@namespace Oqtane.Themes.OqtaneTheme
@inherits ThemeBase

<main role="main">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <Logo /><Menu Orientation="Horizontal" />
        <div class="controls ml-md-auto">
            <div class="controls-group"><UserProfile /> <Login /> <ControlPanel /></div>
        </div>
    </nav>
    <div class="content container">
        <PaneLayout />
        <div class="row px-4">
            <Pane Name="Admin" />
        </div>
    </div>
</main>
