@namespace Oqtane.Themes.OqtaneTheme
@inherits LayoutBase

<div class="row px-4">
    <Pane Name="Top" />
</div>
<div class="row px-4">
    <Pane Name="Bottom" />
</div>

@code {
    public override string Panes { get { return "Top;Bottom"; } }
}