@using System.ComponentModel
@using Oqtane.Shared
@inject SiteState SiteState

@((MarkupString)title)
@((MarkupString)content)

@code {
    private string title = "";
    private string content = "";

    protected override void OnInitialized()
    {
        ((INotifyPropertyChanged)SiteState.Properties).PropertyChanged += PropertyChanged;
    }

    private void PropertyChanged(object sender, PropertyChangedEventArgs e)
    {
        switch (e.PropertyName)
        {
            case "PageTitle":
                if (title != SiteState.Properties.PageTitle)
                {
                    title = "\n<title>" + SiteState.Properties.PageTitle + "</title>";
                    StateHasChanged();
                }
                break;
            case "HeadContent":
                if (content != SiteState.Properties.HeadContent)
                {
                    content = SiteState.Properties.HeadContent + "\n";
                    StateHasChanged();
                }
                break;
        }
    }

    public void Dispose()
    {
        ((INotifyPropertyChanged)SiteState.Properties).PropertyChanged -= PropertyChanged;
    }
}