@using Oqtane.Shared
@using Oqtane.Skins
@using Oqtane.Client.Skins.Controls
@using Oqtane.Client.Shared
@inherits ContainerBase
<div id="modal" class="modal" style="display: block">
    <div class="modal-content">
        <a href="@closeurl" class="close">x</a>
        <div class="container">
            <div class="row px-4">
                <h2><ModuleTitle /></h2>
                <hr style="width: 100%; color: gray; height: 1px; background-color:gray;" />
            </div>
            <div class="row px-4">
                <div class="container">
                    <ModuleInstance />
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    string closeurl;

    protected override void OnInit()
    {
        closeurl = PageState.Alias + PageState.Page.Path;
    }
}

