@namespace Oqtane.Modules.Controls
@using System.IO
@using Radzen
@using Radzen.Blazor
@inject DialogService DialogService
@inject IStringLocalizer<Oqtane.Modules.Controls.RadzenTextEditor> Localizer

<div class="d-flex">
    <FileManager @ref="_fileManager" Filter="@Filters" />
</div>
<div class="d-flex">
    <ModuleMessage Message="@_message" Type="MessageType.Warning"></ModuleMessage>
</div>
<div class="mt-1 text-end">
    <RadzenButton Text="OK" Click=@OnOkClick />
    <RadzenButton Text="Cancel" Click=@OnCancelClick ButtonStyle="ButtonStyle.Secondary" />
</div>
@code {
    private FileManager _fileManager;
    private string _message = string.Empty;

    [Parameter]
    public string Filters { get; set; }

    private void OnCancelClick()
    {
        DialogService.Close(null);
    }

    private void OnOkClick()
    {
        _message = string.Empty;
        var file = _fileManager.GetFile();
        if (file != null)
        {
            var result = $"<img src=\"{file.Url}\" style=\"max-width: 100%\" alt=\"{file.Name}\" />";
            DialogService.Close(result);
        }
        else
        {
            _message = Localizer["Message.Require.Image"];
            StateHasChanged();
        }
    }
}