@namespace Oqtane.Themes.BlazorTheme
@inherits ThemeBase


<div class="breadcrumbs">
    <Breadcrumbs />
</div>

<div class="row flex-xl-nowrap gx-0">
    <div class="sidebar">
        <nav class="navbar">
            <Logo /><Menu Orientation="Vertical" />
        </nav>
    </div>

    <div class="main g-0">
        <div class="top-row px-4">
            <div class="ms-auto"><UserProfile /> <Login /> <ControlPanel LanguageDropdownAlignment="right" /></div>
        </div>
        <div class="container">
            <div class="row px-4">
                <Pane Name="@PaneNames.Admin" />
            </div>
        </div>
    </div>
</div>

@code {
    public override string Panes => PaneNames.Admin;

    public override List<Resource> Resources => new List<Resource>()
    {
		// obtained from https://cdnjs.com/libraries
        new Resource { ResourceType = ResourceType.Stylesheet, Url = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css", Integrity = "sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==", CrossOrigin = "anonymous" },
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ThemePath() + "Theme.css" },
        new Resource { ResourceType = ResourceType.Script, Url = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js", Integrity = "sha512-VK2zcvntEufaimc+efOYi622VN5ZacdnufnmX7zIhCPmjhKnOi9ZDMtg1/ug5l183f19gG1/cBstPO4D8N/Img==", CrossOrigin = "anonymous" }
    };

}