@namespace Oqtane.Themes.BlazorTheme
@inherits ThemeBase


<div class="breadcrumbs">
    <Breadcrumbs />
</div>

<div class="row flex-xl-nowrap gx-0">
    <div class="sidebar">
        <nav class="navbar">
            <Logo />
            <Menu Orientation="Vertical" />
            <Search CssClass="px-3 d-none d-md-block" />
        </nav>
    </div>

    <div class="main g-0">
        <div class="top-row px-4">
            <div class="ms-auto">
                <UserProfile />
                <Login />
                <Search CssClass="me-3 text-center bg-primary d-inline-block d-md-none" Position="Top" />
                <ControlPanel LanguageDropdownAlignment="right" />
            </div>
        </div>
        <div class="container">
            <div class="row px-4">
                <Pane Name="@PaneNames.Admin" />
            </div>
        </div>
    </div>
</div>

@code {
    public override string Panes => PaneNames.Admin;

    public override List<Resource> Resources => new List<Resource>()
    {
		// obtained from https://cdnjs.com/libraries
        new Resource { ResourceType = ResourceType.Stylesheet, Url = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css", Integrity = "sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==", CrossOrigin = "anonymous" },
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ThemePath() + "Theme.css" },
        new Resource { ResourceType = ResourceType.Script, Url = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js", Integrity = "sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==", CrossOrigin = "anonymous", Location = ResourceLocation.Body }
    };

}
