@namespace Oqtane.Themes.BlazorTheme
@inherits ThemeBase


<div class="breadcrumbs">
    <Breadcrumbs />
</div>

<div class="row flex-xl-nowrap gx-0">
    <div class="sidebar">
        <nav class="navbar">
            <Logo /><Menu Orientation="Vertical" />
        </nav>
    </div>

    <div class="main g-0">
        <div class="top-row px-4">
            <div class="ms-auto"><UserProfile /> <Login /> <ControlPanel /></div>
        </div>
        <div class="container">
            <div class="row px-4">
                <Pane Name="@PaneNames.Admin" />
            </div>
        </div>
    </div>
</div>

@code {
    public override string Panes => PaneNames.Admin;

    public override List<Resource> Resources => new List<Resource>()
    {
		// obtained from https://cdnjs.com/libraries
        new Resource { ResourceType = ResourceType.Stylesheet, Url = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css", Integrity = "sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA==", CrossOrigin = "anonymous" },
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ThemePath() + "Theme.css" },
        new Resource { ResourceType = ResourceType.Script, Bundle = "Bootstrap", Url = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js", Integrity = "sha512-a6ctI6w1kg3J4dSjknHj3aWLEbjitAXAjLDRUxo2wyYmDFRcz2RJuQr5M3Kt8O/TtUSp8n2rAyaXYy1sjoKmrQ==", CrossOrigin = "anonymous" }
    };

}