@namespace Oqtane.Modules.Admin.Modules
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IModuleService ModuleService

<div class="container">
    <form>
        <div class="form-group row">
            <div class="col-sm-2">
                <Label class="col-form-label" For="content" HelpText="Enter the module content">Content: </Label>
            </div>
            <div class="col-sm-10">
                <textarea id="content" class="form-control" @bind="@_content" rows="5"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <button type="button" class="btn btn-success" @onclick="ExportModule">Export</button>
    <NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
</div>

@code {
    private string _content = string.Empty;

    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Admin;
    public override string Title => "Export Module";


    private async Task ExportModule()
    {
        _content = await ModuleService.ExportModuleAsync(ModuleState.ModuleId);
    }
}
