@namespace [Owner].[Module]
@inherits ModuleBase

<div class="container">
    <div class="row mb-1 align-items-center">
        <Label Class="col-sm-3" For="value" HelpText="Enter a value" ResourceKey="SettingName">Name: </Label>
            <div class="col-sm-9">
                <input id="value" type="text" class="form-control" @bind="@_value" />
            </div>
    </div>
</div>
