@using Microsoft.AspNetCore.Components.Web
@using Oqtane.Services
@using Oqtane.Models
@using Oqtane.Modules
@using Oqtane.Modules.Controls
@namespace Oqtane.Modules.Admin.ModuleDefinitions
@inherits ModuleBase
@inject IModuleDefinitionService ModuleDefinitionService

@if (moduledefinitions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Text="Install Module" />
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var moduledefinition in moduledefinitions)
            {
                <tr>
                    <td>@moduledefinition.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    List<ModuleDefinition> moduledefinitions;

    protected override async Task OnInitializedAsync()
    {
        moduledefinitions = await ModuleDefinitionService.GetModuleDefinitionsAsync();
    }
}