@namespace Oqtane.Modules.Admin.ModuleDefinitions
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IModuleDefinitionService ModuleDefinitionService
@inject IPackageService PackageService

@if (moduledefinitions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Text="Install Module" Style="float: right; margin: 10px;" />

    <Pager Items="@moduledefinitions">
        <Header>
            <th>Name</th>
            <th>Version</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </Header>
        <Row>
            <td>@context.Name</td>
            <td>@context.Version</td>
            <td><ActionLink Action="Edit" Parameters="@($"id=" + context.ModuleDefinitionId.ToString())" /></td>
            <td>
                @if (context.AssemblyName != "Oqtane.Client")
                {
                    <button type="button" class="btn btn-danger" @onclick=@(async () => await DeleteModule(context.ModuleDefinitionId, context.SiteId))>Delete</button>
                }
            </td>
            <td>
                @if (UpgradeAvailable(context.ModuleDefinitionName, context.Version))
                {
                    <button type="button" class="btn btn-success" @onclick=@(async () => await DownloadModule(context.ModuleDefinitionName, context.Version))>Upgrade</button>
                }
            </td>
        </Row>
    </Pager>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    List<ModuleDefinition> moduledefinitions;
    List<Package> packages;

    protected override async Task OnInitializedAsync()
    {
        moduledefinitions = await ModuleDefinitionService.GetModuleDefinitionsAsync(PageState.Site.SiteId);
        packages = await PackageService.GetPackagesAsync("module");
    }

    private bool UpgradeAvailable(string moduledefinitionname, string version)
    {
        bool upgradeavailable = false;
        Package package = packages.Where(item => item.PackageId == Utilities.GetTypeName(moduledefinitionname)).FirstOrDefault();
        if (package != null)
        {
            upgradeavailable = (Version.Parse(package.Version).CompareTo(Version.Parse(version)) > 0);
        }
        return upgradeavailable;
    }

    private async Task DownloadModule(string moduledefinitionname, string version)
    {
        await PackageService.DownloadPackageAsync(moduledefinitionname, version, "Modules");
        await ModuleDefinitionService.InstallModuleDefinitionsAsync();
        NavigationManager.NavigateTo(NavigateUrl(Reload.Application));
    }

    private async Task DeleteModule(int moduledefinitionid, int siteid)
    {
        await ModuleDefinitionService.DeleteModuleDefinitionAsync(moduledefinitionid, siteid);
        NavigationManager.NavigateTo(NavigateUrl(Reload.Application));
    }
}