@using Oqtane.Services
@using Oqtane.Models
@using Oqtane.Modules
@using Oqtane.Client.Modules.Controls
@inherits ModuleBase

@inject IModuleDefinitionService ModuleDefinitionService

@if (moduledefinitions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var moduledefinition in moduledefinitions)
            {
                <tr>
                    <td>@moduledefinition.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    public override SecurityAccessLevelEnum SecurityAccessLevel { get { return SecurityAccessLevelEnum.Host; } }

    List<ModuleDefinition> moduledefinitions;

    protected override async Task OnInitAsync()
    {
        moduledefinitions = await ModuleDefinitionService.GetModuleDefinitionsAsync();
    }
}