.vs/
bin/
obj/
*.user
artifacts/
msbuild.binlog
.vscode/
*.binlog
*.nupkg
*.zip

*.idea
_ReSharper.Caches
.DS_Store

Server/appsettings.json
Server/Data

Server/Properties/PublishProfiles/FolderProfile.pubxml
Server/Content
Server/Content/Log
Server/Packages
Server/wwwroot/Content
Server/wwwroot/Packages/*.log

Server/wwwroot/_content/*
!Server/wwwroot/_content/Placeholder.txt
