@namespace Oqtane.Modules.Admin.Pages
@inherits ModuleBase

@if (PageState.Pages != null)
{
    <ActionLink Action="Add" Text="Add Page" Style="float: right; margin: 10px;" />

    <Pager Items="@PageState.Pages">
        <Header>
            <th>Name</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </Header>
        <Row>
            <td>@(new string('-', context.Level * 2))@(context.Name)</td>
            <td><ActionLink Action="Edit" Parameters="@($"id=" + context.PageId.ToString())" /></td>
            <td><ActionLink Action="Delete" Parameters="@($"id=" +context.PageId.ToString())" Class="btn btn-danger" /></td>
        </Row>
    </Pager>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Admin; } }
}
