@using Oqtane.Client.Modules.Controls
@using Oqtane.Services
@using Oqtane.Models
@using Oqtane.Modules
@inherits ModuleBase
@inject IPageService PageService

@if (PageState.Pages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Text="Add Page" Style="float: right; margin: 10px;" />
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>Path</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Page page in PageState.Pages)
            {
                <tr>
                    <td><ActionLink Action="Edit" Parameters="@($"id=" + page.PageId.ToString())" /></td>
                    <td><ActionLink Action="Delete" Parameters="@($"id=" + page.PageId.ToString())" Class="btn btn-danger" /></td>
                    <td>@(page.Path)</td>
                    <td>@(page.Name)</td>
                </tr>
            }
        </tbody>
    </table> 
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Admin; } }
}