@namespace Oqtane.Themes.BlazorTheme
@inherits ContainerBase
<div class="container">
	@if (ModuleState.Title != "-")
	{
		<div class="row p-4">
			<div class="d-flex flex-nowrap">
				<ModuleActions /><h2><ModuleTitle /></h2>
			</div>
			<hr class="app-rule" />
		</div>
	}
	else
	{
		<ModuleActions />
	}
	<div class="row px-4">
        <div class="container">
            <ModuleInstance />
        </div>
    </div>
</div>