@namespace Oqtane.Themes.OqtaneTheme
@inherits ContainerBase

<div class="container">
    <ModuleActions /><ModuleInstance />
</div>

@code {
    public override string Name => "No Background Color - No Title";
}