@namespace Oqtane.Themes.OqtaneTheme
@inherits ContainerBase

<div class="container bg-primary">
    <ModuleActions /><ModuleInstance />
</div>

@code {
    public override string Name => "Primary Background Color - No Title";
}