@namespace Oqtane.Themes.OqtaneTheme
@inherits ContainerBase

<div class="container bg-secondary">
    <ModuleActions /><ModuleInstance />
</div>

@code {
    public override string Name => "Secondary Background Color - No Title";
}