@using System.Globalization
@using Oqtane.Models
@using System.Linq
@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase
@inject ILocalizationService LocalizationService
@inject NavigationManager NavigationManager

@if (PageState.Site.Languages.Count() > 1)
{
    <div class="app-languages btn-group pe-1" role="group">
        <button id="btnCultures" type="button" class="btn @ButtonClass dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="oi oi-globe"></span>
        </button>
        <div class="dropdown-menu @MenuAlignment">
            @foreach (var language in PageState.Site.Languages)
            {
                <a class="dropdown-item" href="@(PageState.Alias.Protocol + language.AliasName)">@language.Name</a>
            }
        </div>
    </div>
}

@code{
    private string MenuAlignment = string.Empty;

    [Parameter]
    public string DropdownAlignment { get; set; } = string.Empty; // Empty or Left or Right

    [Parameter]
    public string ButtonClass { get; set; } = "btn-outline-secondary";

    protected override async Task OnParametersSetAsync()
    {
        MenuAlignment = DropdownAlignment.ToLower() == "right" ? "dropdown-menu-end" : string.Empty;
    }
}
