@namespace Oqtane.Themes.Controls
@inherits ThemeControlBase     

@if (PageState.Site.LogoFileId != null)
{
    <span class="app-logo">
        <a href="@PageState.Alias.Path">
            <img class="img-fluid" src="@ContentUrl(PageState.Site.LogoFileId.Value)" alt="@PageState.Site.Name" />
        </a>
    </span>
}

