.breadcrumbs {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.breadcrumb {
    margin-bottom: 0;
}

.app-controlpanel {
    z-index: 9999;
}

.app-menu .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.app-menu .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-menu .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-menu .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.app-menu .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.app-menu .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .breadcrumbs {
        position: fixed;
        left: 275px;
        top: 0;
        z-index: 3
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 1
    }

    .main .top-row {
        position: sticky;
        top: 0;
        z-index: 2
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .main > .container {
        margin-top: 30px;
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@media (max-width: 767px) {
    .breadcrumbs {
        position: fixed;
        top: 150px;
        width: 100%;
        left: 0;
        z-index: 1;
    }

    .sidebar {
        margin-top: 3.5rem;
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    .main .top-row {
        z-index: 2;
    }

    .main > .top-row.px-4 {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .ml-md-auto {
        margin-left: auto;
    }

    .main > .container {
        margin-top: 200px;
    }
}

