.table > :not(caption) > * > * {
    box-shadow: none;
}

.table .form-control {
    background-color: #ffffff !important;
    border-width: 0.5px !important;
    border-bottom-color: #ccc !important;
    color: #000 !important;
}

.table .form-select {
    background-color: #ffffff !important;
    border-width: 0.5px !important;
    border-bottom-color: #ccc !important;
    color: #000 !important;
}

.table .btn-primary {
    background-color: var(--bs-primary);
}

.table .btn-secondary {
    background-color: var(--bs-secondary);
}

.alert-dismissible .btn-close {
    z-index: 1;
}

.breadcrumbs {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.app-menu {
    width: 100%
}

.breadcrumb {
    margin-bottom: 0;
}

.app-menu .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.app-menu .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-menu .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-menu .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding-left: 1rem;
}

.app-menu .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.app-menu .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    margin: .5rem;
}

/* Oqtane Quill Rich Text Editor Toolbar */
.ql-editor, .ql-toolbar, .ql-picker-options, .ql-picker-label {
    background-color: var(--bs-body-bg) !important;
    color: var(--bs-body-color) !important;
}

    ql-toolbar button:hover .ql-stroke, .ql-toolbar button:hover .ql-stroke, .ql-toolbar button:focus .ql-stroke, .ql-toolbar button:focus .ql-stroke, .ql-toolbar button.ql-active .ql-stroke, .ql-toolbar button.ql-active .ql-stroke, .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-toolbar button:hover .ql-stroke-miter, .ql-toolbar button:hover .ql-stroke-miter, .ql-toolbar button:focus .ql-stroke-miter, .ql-toolbar button:focus .ql-stroke-miter, .ql-toolbar button.ql-active .ql-stroke-miter, .ql-toolbar button.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
        stroke: var(--bs-link-hover-color) !important;
    }

    ql-toolbar button .ql-stroke, .ql-toolbar button .ql-stroke, .ql-toolbar button:focus .ql-stroke, .ql-toolbar button:focus .ql-stroke, .ql-toolbar button.ql-active .ql-stroke, .ql-toolbar button.ql-active .ql-stroke, .ql-toolbar .ql-picker-label .ql-stroke, .ql-toolbar .ql-picker-label .ql-stroke, .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-toolbar .ql-picker-item .ql-stroke, .ql-toolbar .ql-picker-item .ql-stroke, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-toolbar button .ql-stroke-miter, .ql-toolbar button .ql-stroke-miter, .ql-toolbar button:focus .ql-stroke-miter, .ql-toolbar button:focus .ql-stroke-miter, .ql-toolbar button.ql-active .ql-stroke-miter, .ql-toolbar button.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-label .ql-stroke-miter, .ql-toolbar .ql-picker-label .ql-stroke-miter, .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-toolbar .ql-picker-item .ql-stroke-miter, .ql-toolbar .ql-picker-item .ql-stroke-miter, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
        stroke: var(--bs-body-color) !important;
    }

    /* Oqtane Quill Rich Text Editor WYSIWYG Content */
    .ql-editor a {
        color: var(--bs-link-color) !important;
    }

        .ql-editor a:hover {
            color: var(--bs-link-hover-color) !important;
        }

        
        .ql-editor a.btn, .ql-editor a.btn:hover {
            text-decoration: unset !important;
            color: var(--bs-btn-color) !important;
        }

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
        display: block;
    }

    .app-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .breadcrumbs {
        position: fixed;
        left: 275px;
        top: 15px;
        z-index: 6
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 4
    }

    .main .top-row {
        position: sticky;
        top: 0;
        z-index: 5
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .main > .container {
        margin-top: 30px;
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@media (max-width: 767.98px) {
    .app-logo {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .breadcrumbs {
        position: fixed;
        top: 150px;
        width: 100%;
        left: 0;
        z-index: 4;
    }

    .sidebar {
        margin-top: 3.5rem;
        position: fixed;
        width: 100%;
        z-index: 4;
    }

    .main .top-row {
        z-index: 4;
    }

    .main > .top-row.px-4 {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .ml-md-auto {
        margin-left: auto;
    }

    .main > .container {
        margin-top: 200px;
    }
}

