@namespace Oqtane.Themes.BlazorTheme
@inherits ContainerBase
<div class="container">
    <div class="row px-4">
        <div class="d-flex flex-nowrap">
            <ModuleActions /><h2><ModuleTitle /></h2>
        </div>
        <hr class="app-rule" />
    </div>
    <div class="row px-4">
        <div class="container">
            <ModuleInstance />
        </div>
    </div>
</div>