@namespace Oqtane.Themes.BlazorTheme
@inherits ThemeBase

<div class="breadcrumbs">
    <Breadcrumbs />
</div>

<div class="sidebar">
    <nav class="navbar">
        <Logo />
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarSupportedContent"
                aria-label="Toggle navigation" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <Menu Orientation="Vertical" />
        </div>
    </nav>
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto"><UserProfile /> <Login /> <ControlPanel /></div>
    </div>
    <div class="container">
        <div class="row px-4">
            <Pane Name="Content" />
        </div>
        <div class="row px-4">
            <Pane Name="Admin" />
        </div>
    </div>
</div>

@code {
    public override string Panes => "Content";

    protected override async Task OnParametersSetAsync()
    {
        await IncludeCSS("Theme.css");
    }

}