@namespace Oqtane.Themes.BlazorTheme
@inherits ThemeBase
@implements IThemeControl

<div class="breadcrumbs">
    <Breadcrumbs />
</div>

<div class="sidebar">
    <nav class="navbar">
        <Logo /><Menu Orientation="Vertical" />
    </nav>
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto"><UserProfile /> <Login /> <ControlPanel /></div>
    </div>
    <div class="container">
        <div class="row px-4">
            <Pane Name="Content" />
        </div>
        <div class="row px-4">
            <Pane Name="Admin" />
        </div>
    </div>
</div>

@code {
    public override string Panes => "Content";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", Integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", CrossOrigin = "anonymous" },
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ThemePath() + "Theme.css" }
    };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var interop = new Interop(JSRuntime);
            await interop.LoadBootstrapJS();
        }
    }
}