@using Oqtane.Themes
@using Oqtane.Client.Shared
@inherits ThemeBase

<div class="row px-4">
    <div class="col-sm">
        <Pane Name="Left" />
    </div>
    <div class="col-sm">
        <Pane Name="Right" />
    </div>
</div>

@functions {
    public override string Name { get { return "Horizontal Layout"; } }
    public override string Panes { get { return "Left;Right"; } }
}