@namespace Oqtane.Themes.Theme3
@inherits ThemeBase

<div class="sidebar">
    <div align="center"><Logo /></div>
    <Menu />
</div>

<div class="main">
    <div class="top-row px-4">
        <h1>@PageState.Page.Name - Theme #3</h1> <div class="ml-md-auto"><UserProfile /> <Login /> <ControlPanel /></div>
    </div>
    <div class="container">
        <PaneLayout />
        <div class="row px-4">
            <Pane Name="Admin" />
        </div>
    </div>
</div>

@code {
    public override string Name { get { return "Theme3"; } }
    public override string Panes { get { return ""; } }
}