@namespace Oqtane.Themes.Theme3
@inherits ThemeBase

<div class="row px-4">
    <Pane Name="Top" />
</div>
<div class="row px-4">
    <Pane Name="Bottom" />
</div>

@code {
    public override string Name { get { return "Vertical Layout"; } }
    public override string Panes { get { return "Top;Bottom"; } }
}