@namespace Oqtane.Modules.Admin.Upgrade
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IFileService FileService
@inject IPackageService PackageService
@inject IInstallationService InstallationService

<table class="table table-borderless">
    <tr>
        <td>
            <label for="Name" class="control-label">Framework: </label>
        </td>
        <td>
            <FileManager Filter="nupkg" ShowFiles="false" Folder="Framework" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Upgrade">Upgrade</button>

@if (upgradeavailable)
{
    <hr class="app-rule" />
    <div class="mx-auto text-center"><h2>Upgrade Available</h2></div>

    <button type="button" class="btn btn-success" @onclick=@(async () => await Download(Constants.PackageId, Constants.Version))>Upgrade Framework</button>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    bool upgradeavailable = false;

    protected override async Task OnInitializedAsync()
    {
        List<Package> packages = await PackageService.GetPackagesAsync("framework");
        Package package = packages.FirstOrDefault();
        if (package != null)
        {
            upgradeavailable = (Version.Parse(package.Version).CompareTo(Version.Parse(Constants.Version)) > 0);
        }
        if (!upgradeavailable)
        {
            AddModuleMessage("Framework Is Up To Date", MessageType.Info);
        }
    }

    private async Task Upgrade()
    {
        await InstallationService.Upgrade();
        NavigationManager.NavigateTo(NavigateUrl(Reload.Application));
    }

    private async Task Download(string packageid, string version)
    {
        await PackageService.DownloadPackageAsync(packageid, version, "Framework");
        await InstallationService.Upgrade();
        NavigationManager.NavigateTo(NavigateUrl(Reload.Application));
    }
}