@namespace Oqtane.Modules.Controls
@inherits ModuleControlBase
@inject IStringLocalizer<AuditInfo> Localizer

@if (_text != string.Empty)
{
    @((MarkupString)_text)
}

@code {

    private string _text = string.Empty;

    [Parameter]
    public string CreatedBy { get; set; }

    [Parameter]
    public DateTime? CreatedOn { get; set; }

    [Parameter]
    public string ModifiedBy { get; set; }

    [Parameter]
    public DateTime? ModifiedOn { get; set; }

    [Parameter]
    public string DeletedBy { get; set; }

    [Parameter]
    public DateTime? DeletedOn { get; set; }

    [Parameter]
    public bool IsDeleted { get; set; }

    [Parameter]
    public string Style { get; set; }

    protected override void OnParametersSet()
    {
        _text = string.Empty;
        if (!String.IsNullOrEmpty(CreatedBy) || CreatedOn.HasValue)
        {
            _text += $"<p style=\"{Style}\">{Localizer["Created"]} ";

            if (!String.IsNullOrEmpty(CreatedBy))
            {
                _text += $" {Localizer["by"]} <b>{CreatedBy}</b>";
            }

            if (CreatedOn != null)
            {
                _text += $" {Localizer["on"]} <b>{CreatedOn.Value.ToString("MMM dd yyyy HH:mm:ss")}</b>";
            }

            _text += "</p>";
        }

        if (!String.IsNullOrEmpty(ModifiedBy) || ModifiedOn.HasValue)
        {
            _text += $"<p style=\"{Style}\">{Localizer["Last modified"]} ";

            if (!String.IsNullOrEmpty(ModifiedBy))
            {
                _text += $" {Localizer["by"]} <b>{ModifiedBy}</b>";
            }

            if (ModifiedOn != null)
            {
                _text += $" {Localizer["on"]} <b>{ModifiedOn.Value.ToString("MMM dd yyyy HH:mm:ss")}</b>";
            }

            _text += "</p>";
        }

        if (!String.IsNullOrEmpty(DeletedBy) || DeletedOn.HasValue)
        {
            _text += $"<p style=\"{Style}\">{Localizer["Deleted"]} ";

            if (!String.IsNullOrEmpty(DeletedBy))
            {
                _text += $" {Localizer["by"]} <b>{DeletedBy}</b>";
            }

            if (DeletedOn != null)
            {
                _text += $" {Localizer["on"]} <b>{DeletedOn.Value.ToString("MMM dd yyyy HH:mm:ss")}</b>";
            }

            _text += "</p>";
        }
    }
}
