@namespace Oqtane.Modules.Controls
@using System.Linq.Expressions;
@inherits ModuleControlBase
<input type="text" value="@Value" list="Iconlist" class="form-select"  @onchange="(e => OnChange(e))"/>
<datalist id="Iconlist" value="@Value">
    <option value="oi oi-account-login">ACCOUNT_LOGIN</option>
    <option value="oi oi-account-logout">ACCOUNT_LOGOUT</option>
    <option value="oi oi-action-redo">ACTION_REDO</option>
    <option value="oi oi-action-undo">ACTION_UNDO</option>
    <option value="oi oi-align-center">ALIGN_CENTER</option>
    <option value="oi oi-align-left">ALIGN_LEFT</option>
    <option value="oi oi-align-right">ALIGN_RIGHT</option>
    <option value="oi oi-aperture">APERTURE</option>
    <option value="oi oi-arrow-bottom">ARROW_BOTTOM</option>
    <option value="oi oi-arrow-circle-bottom">ARROW_CIRCLE_BOTTOM</option>
    <option value="oi oi-arrow-circle-left">ARROW_CIRCLE_LEFT</option>
    <option value="oi oi-arrow-circle-right">ARROW_CIRCLE_RIGHT</option>
    <option value="oi oi-arrow-circle-top">ARROW_CIRCLE_TOP</option>
    <option value="oi oi-arrow-left">ARROW_LEFT</option>
    <option value="oi oi-arrow-right">ARROW_RIGHT</option>
    <option value="oi oi-arrow-thick-bottom">ARROW_THICK_BOTTOM</option>
    <option value="oi oi-arrow-thick-left">ARROW_THICK_LEFT</option>
    <option value="oi oi-arrow-thick-right">ARROW_THICK_RIGHT</option>
    <option value="oi oi-arrow-thick-top">ARROW_THICK_TOP</option>
    <option value="oi oi-arrow-top">ARROW_TOP</option>
    <option value="oi oi-audio">AUDIO</option>
    <option value="oi oi-audio-spectrum">AUDIO_SPECTRUM</option>
    <option value="oi oi-badge">BADGE</option>
    <option value="oi oi-ban">BAN</option>
    <option value="oi oi-bar-chart">BAR_CHART</option>
    <option value="oi oi-basket">BASKET</option>
    <option value="oi oi-battery-empty">BATTERY_EMPTY</option>
    <option value="oi oi-battery-full">BATTERY_FULL</option>
    <option value="oi oi-beaker">BEAKER</option>
    <option value="oi oi-bell">BELL</option>
    <option value="oi oi-bluetooth">BLUETOOTH</option>
    <option value="oi oi-bold">BOLD</option>
    <option value="oi oi-bolt">BOLT</option>
    <option value="oi oi-book">BOOK</option>
    <option value="oi oi-bookmark">BOOKMARK</option>
    <option value="oi oi-box">BOX</option>
    <option value="oi oi-briefcase">BRIEFCASE</option>
    <option value="oi oi-british-pound">BRITISH_POUND</option>
    <option value="oi oi-browser">BROWSER</option>
    <option value="oi oi-brush">BRUSH</option>
    <option value="oi oi-bug">BUG</option>
    <option value="oi oi-bullhorn">BULLHORN</option>
    <option value="oi oi-calculator">CALCULATOR</option>
    <option value="oi oi-calendar">CALENDAR</option>
    <option value="oi oi-camera-slr">CAMERA_SLR</option>
    <option value="oi oi-caret-bottom">CARET_BOTTOM</option>
    <option value="oi oi-caret-left">CARET_LEFT</option>
    <option value="oi oi-caret-right">CARET_RIGHT</option>
    <option value="oi oi-caret-top">CARET_TOP</option>
    <option value="oi oi-cart">CART</option>
    <option value="oi oi-chat">CHAT</option>
    <option value="oi oi-check">CHECK</option>
    <option value="oi oi-chevron-bottom">CHEVRON_BOTTOM</option>
    <option value="oi oi-chevron-left">CHEVRON_LEFT</option>
    <option value="oi oi-chevron-right">CHEVRON_RIGHT</option>
    <option value="oi oi-chevron-top">CHEVRON_TOP</option>
    <option value="oi oi-circle-check">CIRCLE_CHECK</option>
    <option value="oi oi-circle-x">CIRCLE_X</option>
    <option value="oi oi-clipboard">CLIPBOARD</option>
    <option value="oi oi-clock">CLOCK</option>
    <option value="oi oi-cloud">CLOUD</option>
    <option value="oi oi-cloudy">CLOUDY</option>
    <option value="oi oi-cloud-download">CLOUD_DOWNLOAD</option>
    <option value="oi oi-cloud-upload">CLOUD_UPLOAD</option>
    <option value="oi oi-code">CODE</option>
    <option value="oi oi-cog">COG</option>
    <option value="oi oi-collapse-down">COLLAPSE_DOWN</option>
    <option value="oi oi-collapse-left">COLLAPSE_LEFT</option>
    <option value="oi oi-collapse-right">COLLAPSE_RIGHT</option>
    <option value="oi oi-collapse-up">COLLAPSE_UP</option>
    <option value="oi oi-command">COMMAND</option>
    <option value="oi oi-comment-square">COMMENT_SQUARE</option>
    <option value="oi oi-compass">COMPASS</option>
    <option value="oi oi-contrast">CONTRAST</option>
    <option value="oi oi-copywriting">COPYWRITING</option>
    <option value="oi oi-credit-card">CREDIT_CARD</option>
    <option value="oi oi-crop">CROP</option>
    <option value="oi oi-dashboard">DASHBOARD</option>
    <option value="oi oi-data-transfer-download">DATA_TRANSFER_DOWNLOAD</option>
    <option value="oi oi-data-transfer-upload">DATA_TRANSFER_UPLOAD</option>
    <option value="oi oi-delete">DELETE</option>
    <option value="oi oi-dial">DIAL</option>
    <option value="oi oi-document">DOCUMENT</option>
    <option value="oi oi-dollar">DOLLAR</option>
    <option value="oi oi-double-quote-sans-left">DOUBLE_QUOTE_SANS_LEFT</option>
    <option value="oi oi-double-quote-sans-right">DOUBLE_QUOTE_SANS_RIGHT</option>
    <option value="oi oi-double-quote-serif-left">DOUBLE_QUOTE_SERIF_LEFT</option>
    <option value="oi oi-double-quote-serif-right">DOUBLE_QUOTE_SERIF_RIGHT</option>
    <option value="oi oi-droplet">DROPLET</option>
    <option value="oi oi-eject">EJECT</option>
    <option value="oi oi-elevator">ELEVATOR</option>
    <option value="oi oi-ellipses">ELLIPSES</option>
    <option value="oi oi-envelope-closed">ENVELOPE_CLOSED</option>
    <option value="oi oi-envelope-open">ENVELOPE_OPEN</option>
    <option value="oi oi-euro">EURO</option>
    <option value="oi oi-excerpt">EXCERPT</option>
    <option value="oi oi-expand-down">EXPAND_DOWN</option>
    <option value="oi oi-expand-left">EXPAND_LEFT</option>
    <option value="oi oi-expand-right">EXPAND_RIGHT</option>
    <option value="oi oi-expand-up">EXPAND_UP</option>
    <option value="oi oi-external-link">EXTERNAL_LINK</option>
    <option value="oi oi-eye">EYE</option>
    <option value="oi oi-eyedropper">EYEDROPPER</option>
    <option value="oi oi-file">FILE</option>
    <option value="oi oi-fire">FIRE</option>
    <option value="oi oi-flag">FLAG</option>
    <option value="oi oi-flash">FLASH</option>
    <option value="oi oi-folder">FOLDER</option>
    <option value="oi oi-fork">FORK</option>
    <option value="oi oi-fullscreen-enter">FULLSCREEN_ENTER</option>
    <option value="oi oi-fullscreen-exit">FULLSCREEN_EXIT</option>
    <option value="oi oi-globe">GLOBE</option>
    <option value="oi oi-graph">GRAPH</option>
    <option value="oi oi-grid-four-up">GRID_FOUR_UP</option>
    <option value="oi oi-grid-three-up">GRID_THREE_UP</option>
    <option value="oi oi-grid-two-up">GRID_TWO_UP</option>
    <option value="oi oi-hard-drive">HARD_DRIVE</option>
    <option value="oi oi-header">HEADER</option>
    <option value="oi oi-headphones">HEADPHONES</option>
    <option value="oi oi-heart">HEART</option>
    <option value="oi oi-home">HOME</option>
    <option value="oi oi-image">IMAGE</option>
    <option value="oi oi-inbox">INBOX</option>
    <option value="oi oi-infinity">INFINITY</option>
    <option value="oi oi-info">INFO</option>
    <option value="oi oi-italic">ITALIC</option>
    <option value="oi oi-justify-center">JUSTIFY_CENTER</option>
    <option value="oi oi-justify-left">JUSTIFY_LEFT</option>
    <option value="oi oi-justify-right">JUSTIFY_RIGHT</option>
    <option value="oi oi-key">KEY</option>
    <option value="oi oi-laptop">LAPTOP</option>
    <option value="oi oi-layers">LAYERS</option>
    <option value="oi oi-lightbulb">LIGHTBULB</option>
    <option value="oi oi-link-broken">LINK_BROKEN</option>
    <option value="oi oi-link-intact">LINK_INTACT</option>
    <option value="oi oi-list">LIST</option>
    <option value="oi oi-list-rich">LIST_RICH</option>
    <option value="oi oi-location">LOCATION</option>
    <option value="oi oi-lock-locked">LOCK_LOCKED</option>
    <option value="oi oi-lock-unlocked">LOCK_UNLOCKED</option>
    <option value="oi oi-loop">LOOP</option>
    <option value="oi oi-loop-circular">LOOP_CIRCULAR</option>
    <option value="oi oi-loop-square">LOOP_SQUARE</option>
    <option value="oi oi-magnifying-glass">MAGNIFYING_GLASS</option>
    <option value="oi oi-map">MAP</option>
    <option value="oi oi-map-marker">MAP_MARKER</option>
    <option value="oi oi-media-pause">MEDIA_PAUSE</option>
    <option value="oi oi-media-play">MEDIA_PLAY</option>
    <option value="oi oi-media-record">MEDIA_RECORD</option>
    <option value="oi oi-media-skip-backward">MEDIA_SKIP_BACKWARD</option>
    <option value="oi oi-media-skip-forward">MEDIA_SKIP_FORWARD</option>
    <option value="oi oi-media-step-backward">MEDIA_STEP_BACKWARD</option>
    <option value="oi oi-media-step-forward">MEDIA_STEP_FORWARD</option>
    <option value="oi oi-media-stop">MEDIA_STOP</option>
    <option value="oi oi-medical-cross">MEDICAL_CROSS</option>
    <option value="oi oi-menu">MENU</option>
    <option value="oi oi-microphone">MICROPHONE</option>
    <option value="oi oi-minus">MINUS</option>
    <option value="oi oi-monitor">MONITOR</option>
    <option value="oi oi-moon">MOON</option>
    <option value="oi oi-move">MOVE</option>
    <option value="oi oi-musical-note">MUSICAL_NOTE</option>
    <option value="oi oi-paperclip">PAPERCLIP</option>
    <option value="oi oi-pencil">PENCIL</option>
    <option value="oi oi-people">PEOPLE</option>
    <option value="oi oi-person">PERSON</option>
    <option value="oi oi-phone">PHONE</option>
    <option value="oi oi-pie-chart">PIE_CHART</option>
    <option value="oi oi-pin">PIN</option>
    <option value="oi oi-play-circle">PLAY_CIRCLE</option>
    <option value="oi oi-plus">PLUS</option>
    <option value="oi oi-power-standby">POWER_STANDBY</option>
    <option value="oi oi-print">PRINT</option>
    <option value="oi oi-project">PROJECT</option>
    <option value="oi oi-pulse">PULSE</option>
    <option value="oi oi-puzzle-piece">PUZZLE_PIECE</option>
    <option value="oi oi-question-mark">QUESTION_MARK</option>
    <option value="oi oi-rain">RAIN</option>
    <option value="oi oi-random">RANDOM</option>
    <option value="oi oi-reload">RELOAD</option>
    <option value="oi oi-resize-both">RESIZE_BOTH</option>
    <option value="oi oi-resize-height">RESIZE_HEIGHT</option>
    <option value="oi oi-resize-width">RESIZE_WIDTH</option>
    <option value="oi oi-rss">RSS</option>
    <option value="oi oi-rss-alt">RSS_ALT</option>
    <option value="oi oi-script">SCRIPT</option>
    <option value="oi oi-share">SHARE</option>
    <option value="oi oi-share-boxed">SHARE_BOXED</option>
    <option value="oi oi-shield">SHIELD</option>
    <option value="oi oi-signal">SIGNAL</option>
    <option value="oi oi-signpost">SIGNPOST</option>
    <option value="oi oi-sort-ascending">SORT_ASCENDING</option>
    <option value="oi oi-sort-descending">SORT_DESCENDING</option>
    <option value="oi oi-spreadsheet">SPREADSHEET</option>
    <option value="oi oi-star">STAR</option>
    <option value="oi oi-sun">SUN</option>
    <option value="oi oi-tablet">TABLET</option>
    <option value="oi oi-tag">TAG</option>
    <option value="oi oi-tags">TAGS</option>
    <option value="oi oi-target">TARGET</option>
    <option value="oi oi-task">TASK</option>
    <option value="oi oi-terminal">TERMINAL</option>
    <option value="oi oi-text">TEXT</option>
    <option value="oi oi-thumb-down">THUMB_DOWN</option>
    <option value="oi oi-thumb-up">THUMB_UP</option>
    <option value="oi oi-timer">TIMER</option>
    <option value="oi oi-transfer">TRANSFER</option>
    <option value="oi oi-trash">TRASH</option>
    <option value="oi oi-underline">UNDERLINE</option>
    <option value="oi oi-vertical-align-bottom">VERTICAL_ALIGN_BOTTOM</option>
    <option value="oi oi-vertical-align-center">VERTICAL_ALIGN_CENTER</option>
    <option value="oi oi-vertical-align-top">VERTICAL_ALIGN_TOP</option>
    <option value="oi oi-video">VIDEO</option>
    <option value="oi oi-volume-high">VOLUME_HIGH</option>
    <option value="oi oi-volume-low">VOLUME_LOW</option>
    <option value="oi oi-volume-off">VOLUME_OFF</option>
    <option value="oi oi-warning">WARNING</option>
    <option value="oi oi-wifi">WIFI</option>
    <option value="oi oi-wrench">WRENCH</option>
    <option value="oi oi-x">X</option>
    <option value="oi oi-yen">YEN</option>
    <option value="oi oi-zoom-in">ZOOM_IN</option>
    <option value="oi oi-zoom-out">ZOOM_OUT</option>
</datalist>
@code {
    [Parameter] 
    public string Value { get; set; }

    [EditorRequired]
    [Parameter] 
    public EventCallback<string> ValueChanged { get; set; }

    protected void OnChange(ChangeEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Value.ToString())) { return; }
        Value = e.Value.ToString();
        if(ValueChanged.HasDelegate){
            ValueChanged.InvokeAsync(Value);
        }
        
    }
    }
