@namespace Oqtane.Modules.Controls
@inherits ModuleBase

<CascadingValue Value="this">
    <div>
        @foreach (TabPanel tabPanel in _tabPanels)
        {
            <button type="button"
                    class="btn @GetButtonClass(tabPanel)"
                    @onclick=@( () => ActivateTabPanel(tabPanel) )>
                @tabPanel.Text
            </button>
        }
    </div>
    @ChildContent
</CascadingValue>

@code {
    private List<TabPanel> _tabPanels = new List<TabPanel>();

    // Next line is needed so we are able to add <TabPanel> components inside
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public TabPanel ActiveTabPanel { get; set; }

    internal void AddTabPanel(TabPanel tabPanel)
    {
        _tabPanels.Add(tabPanel);
        if (_tabPanels.Count == 1)
            ActiveTabPanel = tabPanel;
        StateHasChanged();
    }

    private string GetButtonClass(TabPanel tabPanel)
        => tabPanel == ActiveTabPanel
        ? "btn-primary"
        : "btn-secondary";

    private void ActivateTabPanel(TabPanel tabPanel)
    {
        ActiveTabPanel = tabPanel;
    }
}
