@namespace Oqtane.Modules.Admin.Themes
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject IFileService FileService
@inject IThemeService ThemeService

<table class="table table-borderless">
    <tr>
        <td>
            <label for="Name" class="control-label">Theme: </label>
        </td>
        <td>
            <FileUpload Filter=".nupkg"></FileUpload>
        </td>
    </tr>
</table>
@if (uploaded)
{
    <button type="button" class="btn btn-success" @onclick="InstallFile">Install</button>
}
else
{
    <button type="button" class="btn btn-success" @onclick="UploadFile">Upload</button>
}
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    bool uploaded = false;

    private async Task UploadFile()
    {
        await FileService.UploadFilesAsync("Themes");
        uploaded = true;
        StateHasChanged();
    }

    private async Task InstallFile()
    {
        await ThemeService.InstallThemesAsync();
        NavigationManager.NavigateTo(NavigateUrl(Reload.Application));
    }
}
