@namespace Oqtane.Modules.Admin.Themes
@inherits ModuleBase
@inject IThemeService ThemeService

@if (themes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Text="Install Theme" Style="float: right; margin: 10px;" />

    <Pager Items="@themes">
        <Header>
            <th>Name</th>
            <th>Version</th>
        </Header>
        <Row>
            <td>@context.Name</td>
            <td>@context.Version</td>
        </Row>
    </Pager>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    List<Theme> themes;

    protected override async Task OnInitializedAsync()
    {
        themes = await ThemeService.GetThemesAsync();
    }
}