@namespace Oqtane.Modules.Admin.Tenants
@inherits ModuleBase
@inject NavigationManager NavigationManager
@inject ITenantService TenantService
@inject IInstallationService InstallationService

<table class="table table-borderless">
    <tr>
        <td>
            <label for="Name" class="control-label">Name: </label>
        </td>
        <td>
            <input class="form-control" @bind="@name" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Connection String: </label>
        </td>
        <td>
            <input class="form-control" @bind="@connectionstring" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Name" class="control-label">Schema: </label>
        </td>
        <td>
            <input class="form-control" @bind="@schema" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="SaveTenant">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>

@code {
    public override SecurityAccessLevel SecurityAccessLevel { get { return SecurityAccessLevel.Host; } }

    string name = "";
    string connectionstring = "";
    string schema = "";

    private async Task SaveTenant()
    {
        GenericResponse response = await InstallationService.Install(connectionstring);
        if (response.Success)
        {
            Tenant tenant = new Tenant();
            tenant.Name = name;
            tenant.DBConnectionString = connectionstring;
            tenant.DBSchema = schema;
            await TenantService.AddTenantAsync(tenant);

            NavigationManager.NavigateTo(NavigateUrl());
        }
        else
        {
            ModuleInstance.AddModuleMessage(response.Message, MessageType.Error);
        }
    }
}
